.section-about .about {
  display: flex;
}
.section-about .about > * {
  width: 50%;
}
.about-cont {
  text-align: center;
  padding: 10px 40px;
}
.about-sns li .icon {
  width: 35px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .section-about .about {
    display: block;
  }
  .section-about .about > * {
    width: inherit;
  }
  .about-cont-text {
    text-align: left;
  }
}