.tab-button {
  cursor: pointer;
  padding: 8px 16px;
  background: #f4f4f4;
  border: 1px solid #E2E2E2;
}
.tab-button.active {
  color: #fff;
  background: #1b1b1b;
}
.tab-content {
  display: none;
  margin-top: 16px;
}
.tab-content.active {
  display: block;
}
.tab-content-list {
  display: grid;
  grid-template-columns:repeat(5, minmax(0, 1fr));
  gap: 30px;
}
.sp-only-line-break {
  display: none;
}

@media screen and (max-width: 767px) {
  .tab-buttons {
    grid-template-columns:repeat(2, minmax(0, 1fr));
  }
  .tab-button {
    height: 45px;
    font-size: 11px;
  }
  .tab-button:nth-child(6n + 4),
  .tab-button:nth-child(6n + 5),
  .tab-button:nth-child(6n + 6) {
    background: #fff;
  }
  .tab-content-list {
    grid-template-columns:repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
  .product-item:nth-child(n+7) {
    display: none;
  }
  .sp-only-line-break {
    display: block;
  }
}

.button.button--white {
  color: #1b1b1b;
  background: transparent;
  border: 2px solid #1b1b1b;
}
.button.button--white::after {
  box-shadow: none;
  border-top: 2px solid #1b1b1b;
  border-right: 2px solid #1b1b1b;
}
.button.button--white:hover::after {
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .button.button--white {
    font-size: 12px;
  }
}