.section-category-list {
  padding-top: 50px;
  background: #1b1b1b;
}
.category-list {
  display: grid;
  grid-template-columns:repeat(6, minmax(0, 1fr));
  gap: 10px 0;
}
.category-list li {
  padding: 0 15px;
}
.category-list-img {
  border-radius: 50%;
}
.category-list-name {
  text-align: center;
  margin-top: 4px;
  font-size: 14px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .section-category-list {
    padding-top: 30px;
  }
  .category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .category-list li {
    flex: 0 0 25%;
    padding: 0 7.5px;
    max-width: 25%;
  }
}
@media screen and (max-width: 500px) {
  .category-list-name {
    font-size: 12px;
  }
}