.blog-placeholder-svg {
  height: 100%;
}

@media screen and (min-width: 990px) {
  .grid--1-col-desktop .article-card .card__content {
    text-align: center;
  }
}

.blog__title {
  margin: 0;
}

.blog__posts.articles-wrapper {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .blog__posts.articles-wrapper {
    margin-bottom: 0;
  }
}

.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
}

@media screen and (max-width: 749px) {
  .blog__post.article {
    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
  }
}

.background-secondary .blog-placeholder__content {
  background-color: rgb(var(--color-background));
}

.blog__posts .card-wrapper {
  width: 100%;
}

.blog__button {
  margin-top: 3rem;
}

@media screen and (min-width: 750px) {
  .blog__button {
    margin-top: 5rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (min-width: 750px) {
    .blog__posts .article + .article {
      margin-left: var(--grid-desktop-horizontal-spacing);
    }
  }
}

.blog .grid {
  display: grid;
  grid-template-columns:repeat(3, minmax(0, 1fr));
  gap: 30px;
}
.blog .blog__post {
  max-width: 100%;
  width: 100%;
}
.blog__title-wrap {
  justify-content: center;
  margin-bottom: 24px;
}
.blog__title {
  font-size: 24px;
  font-weight: 700;
}
.blog .card__information {
  padding-top: 0;
  padding-bottom: 0;
  background: #000;
}
.blog .card__heading {
  text-align: center;
  margin-bottom: 0;
  padding: 10px;
  font-size: 18px;
  color: #fff;
}
.blog .article-card__info {
  display: none;
  padding: 0;
}
.blog__button {
  font-size: 14px;
}

@media screen and (min-width: 990px) {
  .blog .blog__post:nth-child(n+4) {
    display: none;
  }
}
@media screen and (max-width: 989px) {
  .featured-blog-button {
    display: none;
  }
  .blog .slider-buttons {
    display: none;
  }
  .blog .blog__posts {
    display: grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    gap: 30px 15px;
  }
  .blog .blog__post {
    margin-left: 0!important;
    max-width: 100%;
    width: 100%!important;
  }
  .blog__button {
    margin-top: 0;
    font-size: 12px;
  }
}