.main-slider .swiper-slide {
  position: relative;
}
.main-slider .slide-head {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}
.main-slider .slide-head span {
  padding: 0 16px;
  font-size: 14px;
}
.main-slider .swiper-pagination {
  position: relative;
  margin-top: 20px;
}
.main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1;
  margin: 0 10px;
  width: 14px;
  height: 14px;
  background: #e2e2e2;
}
.main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: #333;
}

@media screen and (max-width: 767px) {
  .main-slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .main-slider .swiper-pagination {
    margin-top: 12px;
  }
}