.section-category-list {
  background: #1b1b1b;
}
.category-list {
  display: grid;
  grid-template-columns:repeat(6, minmax(0, 1fr));
}
.category-list li {
  padding: 0 15px;
}
.category-list-img {
  border-radius: 50%;
}
.category-list-name {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .category-list li {
    flex: 0 0 25%;
    padding: 0 7.5px;
    max-width: 25%;
  }
}